<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="calculator.css">
  <title>Calculation Tool</title>
  <script type="text/javascript" src="bundle.js"></script>
</head>
<body ng-app="myApp">
<div id="myCalculator" ng-controller="calculatorController">
  
  <main>
    <section ng-repeat="(bulb, bulbStat) in bulbStats" ng-class="bulb">
      <div>
        <h4>{{ bulbStat.name }}</h4>
        <p>{{ bulbStat.wattage }}</p>
        <p>{{ bulbStat.cost }}</p>
      </div>
    </section>
  </main>

  <form>
    <div>
      <h4>Lumens</h4>
      <p>Brightness of <br>Bulb</p>
      <select ng-change="calculate()" ng-model="current_lumens" ng-options="lumen_option as lumen_option for lumen_option in lumen_options">
      </select>
    </div>
    <div>
      <h4>KWh</h4>
      <p>Kilowatt-<br>hour cost</p>
      <input type="number" ng-change="calculate()" ng-model="current_cost" value="{{ current_cost }}"> cents
    </div>
    <div>
      <h4>Hours</h4>
      <p>Usage <br>per day</p>
      <input type="number" ng-change="calculate()" ng-model="current_hours" value="{{ current_hours }}">
    </div>
  </form>

</div>
</body>
</html>